.captions, .captionsThemeRight
{
	background: linear-gradient(to right, $color-gray, $color-gray-light);
	color: $color-dark;
	border-top: 5px solid $color-bg;
	padding-left: 1em;
	margin-bottom: 0;
@include mq-md {
	background: $color-aquamarine;
	color: $color-white;
	text-shadow: 0 0 5px $color-text-shadow;
	border-radius: 0 15px 0 15px;
	transition: all 0.1s linear;
	&:hover {
		border-radius: 15px;
	}
}
}
.captionsThemeRight
{
@include mq-md {
	background: $color-gray;
}
}
.header__linkedin
{
	display: none;
@include mq-md {
	display: inline;
	text-shadow: none;
	& a, & h2
		{
			color: $color-aquamarine;
			margin-bottom: 0;
		}
}
}
.dottedLine
{
	border-bottom: 1px dotted $color-gray;
}
.list
{
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}
.list__item::before
{
	content: "-";
}

/* -----------POPUP---------------------- */

.popup-checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.popup-content, .popup__certificate {
  padding: 	0;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup__certificate {
	max-height: 100%;
	max-width: 100%;
	display: block;	
	margin: 0 auto;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.popup-shower {
  margin: 0;						
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.popup-shower:hover {
  color: #0056b3;
}

.popup-closer {
  position: absolute;
  display: block;
  cursor: pointer;
}