.header
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 5px black;
	background: linear-gradient(to top, #b4edf8, #5db7c2);
	font-size: 1em;
	padding: 1.2em;
}
/*----------------mediaQueries-------------------------*/
@media (min-width: 768px) {
.col-md-12
{

}
}