$color-aquamarine: #8ac8d4;
$color-aquamarine-light: #b6ecf7;
$color-dark: #323333;
$color-gray: #e2e7ec;
$color-gray-light: #f0f0f0;
$color-bg: #effbff;
$color-white: #fff;
$color-text-shadow: #000;

$screen-medium: 768px;
